<div class="cards-viewer--parallax-bg is-hidden" data-image-width="4000">
	<div class="cards-viewer--parallax-bg-inner">
		<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="./media/images/animate-book.jpg" alt="" class="cards-viewer--parallax-bg-img" />
	</div>
</div>
<div class="cards-viewer is-hidden" data-api-url="<?= urlBasePath ?>/json/jukebox/">
	<div class="cards-viewer--backdrop"></div>
	<div class="cards-viewer--wrapper">
		<!-- Cards are injected by JS -->
	</div>
	<div class="cards-viewer--footer">
		<div class="cards-viewer--instructions">Scrollez pour faire défiler • Cliquez pour écouter une chanson</div>
		<a class="link cards-viewer-close" href="javascript:;">Fermer</a>
	</div>
</div>
